#COOKIES
COOKIES_DOMAIN = 

#CORS
CORS_ORIGIN = 

#EXPRESS
EXPRESS_PORT = 

#JWT
JWT_BEARER_TOKEN_KEY = 
JWT_REFRESH_TOKEN_KEY = 

#NODEMAILER
NODEMAILER_HOST = 
NODEMAILER_PASS = 
NODEMAILER_PORT = 
NODEMAILER_SECURE = 
NODEMAILER_USER = 

#POSTGRESQL
POSTGRESQL_DATABASE = 
POSTGRESQL_HOST = 
POSTGRESQL_PASSWORD = 
POSTGRESQL_PORT = 
POSTGRESQL_USER = 

#SPA
SPA_BASE_DOMAIN = 

#SYSTEM
SYSTEM_API_VERSION = 
SYSTEM_BASE_DOMAIN = 
SYSTEM_ENVIRONMENT = 
SYSTEM_SHOW_DEBUG_INFO = 